Repository open-sauced/app, changes with the owners that CODEOWNERS names for each.
All owners: @nickytonline, @brandonroberts, @jpmcb, @zeucapua

fix: change syncId type from number to string in chart components. also create seperate syncId in order to avoid the issue.
  components/Graphs/ForksChart.tsx
  components/Graphs/IssuesChart.tsx
  components/Graphs/PRChart.tsx
  components/Graphs/StarsChart.tsx
  pages/s/[org]/[repo]/index.tsx
Owners: none

Bug: Charts hover states are not standalone #4189
  components/Graphs/ForksChart.tsx
  components/Graphs/IssuesChart.tsx
  components/Graphs/PRChart.tsx
  components/Graphs/StarsChart.tsx
  pages/s/[org]/[repo]/index.tsx
Owners: none

chore: Freezes github codeowners and rm pizza action (#4190)
  .github/workflows/pizza.yml
Owners: @nickytonline, @brandonroberts

fix: Charts hover states are not standalone #4189
  components/Graphs/ForksChart.tsx
  components/Graphs/IssuesChart.tsx
  components/Graphs/PRChart.tsx
  components/Graphs/StarsChart.tsx
  pages/s/[org]/[repo]/index.tsx
Owners: none

update title
  pages/explore/index.tsx
Owners: @zeucapua, @brandonroberts

Redirect to Linux Blog
  middleware.ts
  netlify.toml
Owners: @zeucapua, @brandonroberts, @nickytonline

catch all urls
  netlify.toml
Owners: @nickytonline, @brandonroberts

fix: Redirect to Linux Blog (#4204)
  middleware.ts
  netlify.toml
Owners: @zeucapua, @brandonroberts, @nickytonline

CODEOWNERS:

# This file is generated automatically by OpenSauced pizza-cli. DO NOT EDIT. Stay saucy!
#
# Generated with command:
# $ pizza generate codeowners app/ --tty-disable true

.env @nickytonline @brandonroberts
.eslintrc.json @brandonroberts
.github/CODEOWNERS @nickytonline @brandonroberts
.github/workflows/development.yml @jpmcb @brandonroberts
.github/workflows/issue.yml @jpmcb @brandonroberts
.github/workflows/pizza.yml @nickytonline @brandonroberts
.github/workflows/playwright.yml @jpmcb @brandonroberts
.github/workflows/release.yml @jpmcb @nickytonline
.github/workflows/storybook.yml @jpmcb @brandonroberts
.github/workflows/triage.yml @jpmcb @brandonroberts
.sauced.yaml @nickytonline @brandonroberts
CHANGELOG.md @brandonroberts @nickytonline @zeucapua
CODEOWNERS @brandonroberts @nickytonline
components/Contributors/AddToContributorInsightDrawer.tsx @brandonroberts
components/Contributors/AddToContributorInsightModal.tsx @brandonroberts
components/Contributors/Oscr.tsx @brandonroberts
components/ListHeader/list-header.tsx @nickytonline @brandonroberts
components/Repositories/AddToWorkspaceModal.tsx @brandonroberts
components/Repositories/ContributorConfidenceChart.tsx @nickytonline @brandonroberts
components/Repositories/LotteryFactorBadge.tsx @zeucapua @brandonroberts
components/Repositories/LotteryFactorChart.tsx @zeucapua @brandonroberts
components/Repositories/OssfChart.tsx @brandonroberts @nickytonline
components/Repositories/RossChart.tsx @zeucapua @brandonroberts
components/StarSearch/StarSearchChat.tsx @brandonroberts
components/Tables/ContributorsTable.tsx @zeucapua @brandonroberts
components/Workspaces/InsightUpgradeModal.tsx @brandonroberts @nickytonline
components/Workspaces/WorkspaceBanner.tsx @nickytonline @brandonroberts
components/Workspaces/WorkspaceCard.tsx @zeucapua @brandonroberts
components/Workspaces/WorkspaceHeader.tsx @brandonroberts
components/Workspaces/WorkspaceLayout.tsx @zeucapua @brandonroberts @nickytonline
components/atoms/Fab/fab.tsx @brandonroberts
components/atoms/PillSelector/pill-selector.tsx
components/atoms/Radio/radio.tsx
components/atoms/RadioCheck/radio-check.tsx
components/atoms/SVGIcon/svg-icon.tsx
components/atoms/Search/search.tsx
components/atoms/Select/single-select.tsx @brandonroberts
components/atoms/TextInput/text-input.tsx
components/atoms/ToggleGroup/toggle-group.stories.tsx
components/atoms/ToggleOption/toggle-option.tsx
components/molecules/AnnouncementCard/announcement-card.tsx @brandonroberts
components/molecules/AuthContentWrapper/auth-content-wrapper.stories.tsx @brandonroberts
components/molecules/AuthSection/auth-section.tsx
components/molecules/CardHorizontalBarChart/card-horizontal-bar-chart.tsx @nickytonline @brandonroberts
components/molecules/CardRepoList/card-repo-list.tsx
components/molecules/ContributorFilterDropdown/contributor-filter-dropdown.tsx
components/molecules/ContributorHighlight/contributor-highlight-card.tsx
components/molecules/ContributorListTableRow/contributor-list-table-row.stories.tsx @jpmcb @brandonroberts
components/molecules/ContributorListTableRow/contributor-list-table-row.tsx @jpmcb @brandonroberts
components/molecules/ContributorProfileHeader/contributor-profile-header.tsx @brandonroberts
components/molecules/DevCard/dev-card.tsx @brandonroberts
components/molecules/FilterHeader/filter-header.tsx @brandonroberts
components/molecules/HighlightInput/highlight-input-form.tsx @brandonroberts
components/molecules/HighlightsFeedCard/highlights-filter-card.tsx
components/molecules/InfoCard/info-card.tsx
components/molecules/InsightHeader/insight-header.tsx @nickytonline @brandonroberts
components/molecules/NivoScatterChart/nivo-scatter-chart.tsx @brandonroberts
components/molecules/PullRequestSocialCard/pull-request-social-card.stories.tsx @nickytonline @brandonroberts
components/molecules/PullRequestSocialCard/pull-request-social-card.tsx @nickytonline @brandonroberts
components/molecules/RecommendedRepoCard/recommended-repo-card.tsx @zeucapua @brandonroberts
components/molecules/RepoRow/repo-row.tsx @zeucapua @brandonroberts
components/molecules/ReposoitoryCartItem/repository-cart-item.tsx
components/molecules/SuperlativeSelector/superlative-selector.tsx
components/molecules/TableHeader/table-header.tsx @brandonroberts
components/organisms/ContributorCard/contributor-card.stories.tsx @jpmcb @brandonroberts
components/organisms/ContributorCard/contributor-card.tsx @brandonroberts @jpmcb @nickytonline
components/organisms/ContributorProfilePage/contributor-profile-page.tsx @jpmcb @brandonroberts
components/organisms/Contributors/contributors.tsx @brandonroberts @jpmcb
components/organisms/ContributorsList/contributors-list.tsx @jpmcb @brandonroberts
components/organisms/ContributorsTable/contributors-table.tsx @jpmcb @brandonroberts
components/organisms/Dashboard/dashboard.stories.tsx @brandonroberts
components/organisms/Dashboard/dashboard.tsx @brandonroberts @jpmcb
components/organisms/Reports/reports.tsx @nickytonline @brandonroberts
components/organisms/Repositories/repositories.tsx @brandonroberts @zeucapua
components/organisms/RepositoriesTable/repositories-table.tsx @brandonroberts @zeucapua
components/organisms/SearchDialog/search-dialog.tsx @nickytonline @brandonroberts
components/organisms/StripeCheckoutButton/stripe-checkout-button.tsx @nickytonline @brandonroberts
components/organisms/ToolsDisplay/tools-display.tsx @brandonroberts
components/organisms/TopNav/top-nav.tsx @brandonroberts @zeucapua
components/organisms/UserRepositoryRecommendations/user-repository-recommendations.tsx @brandonroberts
components/organisms/UserSettingsPage/coupon-form.tsx @brandonroberts
components/organisms/UserSettingsPage/developer-pack-form.tsx @nickytonline @brandonroberts
components/organisms/UserSettingsPage/user-settings-page.tsx @brandonroberts @nickytonline
components/shared/AppSidebar/AppSidebar.tsx @brandonroberts
components/shared/CopyContainer.stories.tsx @brandonroberts
components/shared/CopyContainer.tsx @brandonroberts @zeucapua
components/shared/CopyImageBranding.tsx @zeucapua @brandonroberts
components/shared/DayRangePicker.tsx @zeucapua @brandonroberts
components/shared/SplitButton.stories.tsx @brandonroberts @nickytonline
components/shared/SplitButton.tsx @nickytonline @brandonroberts @zeucapua
e2e/explore-page.spec.ts @brandonroberts @zeucapua
e2e/repo-page.spec.ts @brandonroberts @zeucapua @nickytonline
e2e/user-profile.spec.ts @brandonroberts
e2e/workspace-contributor-insight.spec.ts @brandonroberts
instrumentation.ts @brandonroberts @nickytonline
interfaces/global-state-types.ts @nickytonline @brandonroberts
layouts/filter.tsx @brandonroberts
layouts/hub-page.tsx @nickytonline @brandonroberts
layouts/lists.tsx @nickytonline @brandonroberts
lib/hooks/api/useContributors.ts @jpmcb @brandonroberts
lib/hooks/api/useFetchWorkspace.ts @zeucapua @brandonroberts
lib/hooks/api/useIsWorkspaceUpgraded.ts @nickytonline @brandonroberts
lib/hooks/useFetchTrendingRepositories.ts @zeucapua @brandonroberts
lib/hooks/useGetOrgRepos.ts @nickytonline @brandonroberts
lib/hooks/useSession.ts @nickytonline @brandonroberts
lib/hooks/useUserConnections.ts @nickytonline @brandonroberts
lib/utils/copy-to-clipboard.ts @brandonroberts @nickytonline @zeucapua
lib/utils/stripe-client.ts @nickytonline @brandonroberts
lib/utils/url-validators.ts @brandonroberts
lib/utils/workspace-utils.ts @brandonroberts @nickytonline
middleware.ts @zeucapua @brandonroberts
netlify.toml @nickytonline @brandonroberts
next-types.d.ts @brandonroberts @jpmcb @nickytonline
next.config.js @brandonroberts @nickytonline
npm-shrinkwrap.json @brandonroberts @zeucapua
package.json @brandonroberts @zeucapua @nickytonline
pages/500.tsx @brandonroberts @nickytonline
pages/explore/index.tsx @zeucapua @brandonroberts
pages/explore/topic/\[pageId\]/\[toolName\].tsx @zeucapua @brandonroberts
pages/explore/topic/\[pageId\]/\[toolName\]/filter/\[...selectedFilter\].tsx @zeucapua @brandonroberts
pages/s/\[org\]/\[repo\]/index.tsx @brandonroberts @zeucapua @nickytonline
pages/start.tsx @brandonroberts
pages/u/\[username\]/card.tsx @brandonroberts
pages/u/\[username\]/index.tsx @nickytonline @brandonroberts
pages/workspaces/\[workspaceId\]/activity.tsx @brandonroberts @nickytonline
pages/workspaces/\[workspaceId\]/contributor-insights/\[listId\]/activity.tsx @nickytonline @brandonroberts
pages/workspaces/\[workspaceId\]/contributor-insights/\[listId\]/edit.tsx @nickytonline @brandonroberts
pages/workspaces/\[workspaceId\]/contributor-insights/\[listId\]/highlights.tsx @nickytonline @brandonroberts
pages/workspaces/\[workspaceId\]/contributor-insights/\[listId\]/overview.tsx @nickytonline @brandonroberts
pages/workspaces/\[workspaceId\]/contributor-insights/index.tsx @nickytonline
pages/workspaces/\[workspaceId\]/contributor-insights/new.tsx @zeucapua @brandonroberts
pages/workspaces/\[workspaceId\]/contributors.tsx @jpmcb @brandonroberts
pages/workspaces/\[workspaceId\]/index.tsx @nickytonline @brandonroberts
pages/workspaces/\[workspaceId\]/issues.tsx @nickytonline @brandonroberts
pages/workspaces/\[workspaceId\]/repository-insights/\[insightId\]/activity.tsx @nickytonline @brandonroberts
pages/workspaces/\[workspaceId\]/repository-insights/\[insightId\]/contributors.tsx @nickytonline @brandonroberts
pages/workspaces/\[workspaceId\]/repository-insights/\[insightId\]/dashboard.tsx @brandonroberts @nickytonline
pages/workspaces/\[workspaceId\]/repository-insights/\[insightId\]/edit.tsx @nickytonline @brandonroberts
pages/workspaces/\[workspaceId\]/repository-insights/new.tsx @zeucapua @brandonroberts
pages/workspaces/\[workspaceId\]/settings.tsx @nickytonline @brandonroberts
playwright.config.ts @brandonroberts
